@inject IJSRuntime JSRuntime 
@implements IAsyncDisposable

<h2>Use Javascript Module</h2>

<button class="btn btn-secondary" @onclick="ShowAlert">
    Show alert from Javascript module
</button>

@code {
    private IJSObjectReference module;

    private async Task ShowAlert()
    {
        if (module == null)
        {
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import",
             "./scripts/alertmodule.js");
        }
        await module.InvokeVoidAsync("showAlert", "hello alert in module alertmodule");
    }

    public async ValueTask DisposeAsync()
    {
        if (module != null)
        {
            await module.DisposeAsync(); 
        }
    }

}
