@page "/dotnetcallsjavascript"
@using BethanysPieShopHRM.ServerApp.Components.DotNetCallsJavaScript

<h1 class="page-title">.NET calls JavaScript</h1>

<div class="interop-card">
  <CallJavaScriptFunctionsThatReturnVoid></CallJavaScriptFunctionsThatReturnVoid>
</div>
<div class="interop-card">
  <CallJavaScriptFunctionsThatReturnValue></CallJavaScriptFunctionsThatReturnValue>
</div>
<div class="interop-card">
  <PassHTMLElementsToJavaScript></PassHTMLElementsToJavaScript>
</div>
<div class="interop-card">
  <HandleJavaScriptErrors></HandleJavaScriptErrors>
</div>

<div class="interop-card">
    <UseJavascriptModule></UseJavascriptModule>
</div>
