@page "/javascriptcallsdotnet"
@using BethanysPieShopHRM.ServerApp.Components.JavaScriptCallsDotNet

<h1 class="page-title">JavaScript calls .NET</h1>

<div class="interop-card">
  <CallStaticDotNetMethod></CallStaticDotNetMethod>
</div>
<div class="interop-card">
  <CallDotNetInstanceMethod></CallDotNetInstanceMethod>
</div>
<div class="interop-card">
  <CallComponentMethodFromJavaScript></CallComponentMethodFromJavaScript>
</div>
